[submodule "pogigwasc-utils"]
	path = pogigwasc-utils
	url = git@github.com:Swart-lab/pogigwasc-utils.git
[submodule "pogigwasc"]
	path = pogigwasc
	url = git@github.com:Swart-lab/pogigwasc.git
[submodule "Intronarrator"]
	path = Intronarrator
	url = git@github.com:Swart-lab/Intronarrator.git
